.box {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: lightgreen;
}

.box h2 {
    text-align: left;
    margin-bottom: 20px;
}

.box h3 {
    text-align: center;
}

.book {
    text-align: right;
}